.botao__menu{
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.lista{
    display: flex;
    justify-content: space-evenly;
    background-color: #4343fff6;
}

@media screen and (max-width: 768px) {
    .lista{
        display: flex;
        flex-direction: column;
        width: 0;
        color: #fdfdfd;
    }

    .menu-mobile{
        height: 100vh;
        width: 30vw;
    }

    .botao__menu{
        display: block;
    }    

    .item_lista{
        padding: 5px;
    }
}